@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
}

/* Light Mode (Standard) */
:root {
  --background: #ffffff;
  --foreground: #09090b; /* Zinc 950 */
}

/* Dark Mode Override */
.dark {
  --background: #09090b; /* Zinc 950 */
  --foreground: #fafafa; /* Zinc 50 */
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s ease, color 0.3s ease;
}
